<%- include('header'); -%>

<div class='content'>
    <h1>HW WEBSTORE</h1>
    <h1>Knowledge Village, Dubai</h1>
    <h1>+971 55 12345678</h1>
    <h1>hwu@hw.ac.uk</h1>
</div>

<%- include('footer'); -%>